*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*navbar*/

#navbar{
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px ;
    grid-template-rows: 50px ;
    grid-template-areas:"about store . gmail image menu sign-in" ;
}
a,p{
    text-decoration: none;
    color: rgb(56, 50, 50);
}
#about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}
#store{
    grid-area:store ;
    justify-self: center;
    align-self: center;
}
#gmail{
     grid-area: gmail;
     justify-self: center;
     align-self: center;
}
#image{
     grid-area: image;
     justify-self: center;
     align-self: center;
}
#menu{
    grid-area: menu;
    justify-self: center;
    align-self: center;
}
#sign-in{
    grid-area: sign-in;
    justify-self: center;
    align-self: center;
    background-color: rgba(6, 41, 240, 0.719);
    margin-right: 15px;
    color: white;
    height:  20px;
    width: 50px;
    border-radius: 3px;
    text-align: center;
    
}

/*main*/

#google-search-btn{
    border: none;
    font-size: 15px;
    color: gray;
    margin-right: 25px
}
#random-search-btn{
    border: none;
    font-size: 14px;
    color: gray
}
#google-search-btn:hover{
    border: 1px solid rgb(204, 196, 196);
    padding: 3px 15px 3px 15px;
    border-radius: 5px;
}
#random-search-btn:hover{
    border: 1px solid rgb(197, 183, 183);
    padding: 3px 15px 3px 15px;
    border-radius: 5px
}


#main{
    min-height: ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px 200px ;
    grid-template-areas:
    ". logo ." 
    ". search ." 
    ". flexbox ." 
    ". text ."  ;
 
}

#logo{
    grid-area: logo  ;
    justify-self: center;

}
#search{
    grid-area: search ;
    justify-self: center;
    height: 30px;
    width: 400px;
    align-self: center;
    border-radius: 15px;
    border: 1px solid rgb(197, 172, 172);
    padding-left: 25px;
    height: 30px;
    
}
#search:hover{
    box-shadow: 1px 1px 5px grey;
}
#flexbox{
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
    
}
#google-search-btn{
    grid-area:  google-search-btn;

}
#random-search-btn{
    grid-area: random-search-btn;
 
}

#text{
    grid-area: text  ;
    justify-self: center;
}
/*footer*/

#footer{
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 100px 100px 150px 950px 70px 70px 70px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "advertising business works . privacy terms setting"
   
   ;
}
#advertising{
    
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}
#business{
    grid-area: business;
    justify-self: center;
    align-self: center;
}
#works{
    grid-area: works;
    justify-self: center;
    align-self: center;
}
#privacy{
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}
#terms{
    grid-area: terms;
    justify-self: center;
    align-self: center;
}
#setting{
    grid-area: setting;
    justify-self: center;
    align-self: center;
}