*{
    /* padding: 0;
    margin: 0   atex; */
}
/* .head{
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
} */

#head-items{

padding: 10px;
margin: 10px;
align-content:flex-end ;
text-align: right;
font-size: 20px;
font-weight: 500;
font-style: initial;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
/* flex-wrap: wrap; */
}

#head-items a {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-content: flex-end; */
    /* text-align: right; */
    text-decoration: none;
    color: black;


}

input[type=button] {
font-size: 17px;
border-radius: 10px;
}
input[type=button]:hover{
    background-color: rgb(82, 82, 218);
}